<!DOCTYPE html>
<html>
<head>
	<title>GoRex</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
	<link rel="stylesheet" href="/gorex.css">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
	<script src="/gorex.js"></script>

</head>
<body ng-app="gorex" ng-controller="RexController">

<div class="header">
	<h1>Gorex</h1>

	<input id="re" type="text" placeholder="Regex..." 
		        	ng-model="re" ng-change="rex()" ng-model-options="{debounce: 500}" ng-trim="false">
</div>
<div class="pure-u-1 error" ng-if="error">
		{{error}}
    </div>
	<table class="xpure-table xpure-table-bordered">
    <thead>
        <tr>
            <th>Func</th>
            <th ng-repeat="inp in inputs">
            	<input type="text" placeholder="Text..." 
		        	ng-model="inputs[$index].v" ng-change="rex()" ng-model-options="{debounce: 500}" ng-trim="false">
		        <a class="del" ng-if="$index>0" href="" ng-click="delInput($index)">x</a>	
            </th>
            <th>
            	<a href="" class="mega" ng-click="addInput()">+</a>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="(k, vs) in data">
            <td>{{k}}</td>
            <td ng-repeat="v in vs">{{v.V}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</body>
</html>